**/*.rs.bk
.gradle
/.idea
/spreadsheet-ods.iml
/sample
/target
/test_out
/test_spreadsheet/target
/tests/example
/tests/example.ods
/tests/missing
/tests/orders
/tests/sample
/tests/validation.ods
/try
/tryout.ods
Cargo.lock
