/.gradle
/.idea
/doc
/sample
/spreadsheet-ods.iml
/target
/test_out
/test_spreadsheet/target
/tests/example
/tests/example.ods
/tests/missing
/tests/orders
/tests/sample
/tests/validation.ods
/try
/tryout.ods
/tests_data
Cargo.lock
