/target
**/*.rs.bk
Cargo.lock
/sample
/test_out
/tests/example.ods
/tests/example
/tests/orders
/tests/missing
/tryout.ods
/test_spreadsheet/target
.gradle
/tests/sample
/tests/validation.ods
/.idea/shelf/read_config_xml_need_to_clear_the_data-structure_first_/shelved.patch
/try

